<!DOCTYPE html>

<html>
<head></head>

<body style= "background-color: #dfd7cc;    text-align: center;">
    <h1 style>Welcome To our Pictures Websites!</h1>
    <h2> Group number 21 </h2>
    <h3> Members:Yotam 123, Nir 123, karin 123 </h3>
    <table border="2" cellpadding = "4"  style="margin: 0 auto;">
        <tr>
            <th> Simple Picture </th>
            <th>Chess Board Picture</th>
            <th> Our Special Picture! </th>
        </tr>
        <tr>
            <td> <a href="/simple_picture"> View Picture</a> </td>
            <td> <a href="/chess_picture"> View Picture</a></td>
            <td> <a href="/special_picture"> View Picture</a></td>
        </tr>
</table>

</body>

</html>